.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 21px;
  margin: 0px auto;
}
.switch:before {
  content: 'Monthly';
  position: absolute;
  left: -65px;
  top: 2px;
  font-size: 1.1em;
  color: hsl(213, 96%, 18%);
}

.switch:after {
  content: 'Yearly';
  position: absolute;
  right: -55px;
  top: 2px;
  font-size: 1.1em;
  color: hsl(231, 11%, 63%);
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:hsl(213, 96%, 18%);
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




@media screen and (max-width: 600px)
{
    #plan-list{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: transparent;
        display: flex; 
        margin-top: 15px;
        margin-left: 19px;
        text-align: left;
        line-height: 20px;
        box-sizing: border-box;
    }
    #formfill{
        height: 550px;
    }
    h5{
        color: hsl(213, 96%, 18%);
        font-size: 1.1em;
        position: relative;
        top: 2px;
    }
    a{
        color: hsl(231, 11%, 63%);
        font-size: 0.77em;
    }
    img{
        margin-right: 17px;
        margin-left: 10px;
    }
    #plan-list:hover{
        cursor: pointer;
    }
    #plan-list:active{
        background-color: hsl(229, 24%, 87%);
        border: 2px solid hsl(228, 100%, 84%);
        position: relative;
        top: 1px;
    }
    #foot{
        display: flex;
        padding-left: 0%;
    }
    #next-step{
        width: 30%;
        height: 8vh;
        position: relative;
        top: 0px;
        left: 160px;
    }
    #go-back{
        width: 90px;
        height: 8vh;
        color: hsl(231, 11%, 63%);
        background-color: transparent;
        font-size: 0.9em;
        font-weight: 700;
        position: relative;
        left: -10px;
        padding: 10px 6px;
    }
    #togglePath{
        background-color: hsl(217, 100%, 97%);
        width: 100%;
        height: 10vh;
        margin-top: 40px;
        color: hsl(213, 96%, 18%);
        box-sizing: border-box;
        font-size: 0.89em;
        font-weight: 700;
        border-radius: 5px;
    }
    #yearlySide span{
        font-size: 0.77em;
    }
    .visible {
        display: block;
      }
    .hidden {
        display: none;
      }
    .switch{
      position: relative;
      left: 132px;
      top: 16px;
    }
    
    
}